<%= form_with(model: product, local: true, html: { multipart: true }) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div class="mb-3">
    <%= form.label :images, "Imagens do produto", class: "form-label" %>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
    
    <% if product.images.attached? %>
      <div class="row mt-3">
        <% product.images.each do |image| %>
          <div class="col-md-3 mb-3">
            <div class="card">
              <%= image_tag image.variant(resize_to_limit: [300, 200]), class: "card-img-top" %>
              <div class="card-body">
                <%= link_to "Remove", remove_image_product_path(product, image_id: image.id), method: :delete, class: "btn btn-danger btn-sm", data: { turbo_confirm: "Are you sure you want to remove this image?" } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
