<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for(:title) || "Overbyte" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="site-header">
      <div class="container header-inner">
        <%= link_to "OVERBYTE", root_path, class: "brand" %>
        <nav class="main-nav">
          <%= link_to "Produtos", products_path, class: "nav-link" %>
          <%= link_to "Novo Produto", new_product_path, class: "nav-link" %>
        </nav>
      </div>
    </header>
<<<<<<< HEAD
    
    <div id="notice">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
    </div>
=======
>>>>>>> parent of df2f121 (UPDATE)

    <main class="container main-content">
      <%= yield %>
    </main>

<<<<<<< HEAD
    <% if logged_in? %>
      <div id="cart-container">
        <%= render 'shared/cart' %>
      </div>
    <% end %>

=======
>>>>>>> parent of df2f121 (UPDATE)
    <footer class="site-footer">
      <div class="container">
        &copy; <%= Time.now.year %> Overbyte |
        <%= link_to 'Política de Privacidade', privacy_path, class: 'text-decoration-underline' %>
      </div>
    </footer>
  </body>
</html>
